*
{
    margin:0;
    padding:0; /*https://stackoverflow.com/questions/18772154/white-space-at-top-of-page*/
}

h1
{
    font-size:48px;
    color: white;
    padding-left: 50px;
}

button /*https://www.w3schools.com/css/css3_buttons.asp*/
{
background-color:  #51279B;
color: white;
padding: 15px 32px;
text-align : center;
text-decoration: none;
font-size: 16px;
margin: 50px 50px;
cursor: pointer;
border:none;
}
p{

	color: white;
	color:grey;
	
    font-size: 24px;
    margin-left: 50px;
    margin-top:20px;
    
}

li
{
    float: left;
}

 #image{
     
     position: absolute;
     left: 10px;
     top:5px;
 }

li a {
    display: block;
    color:#51279B;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  li a:hover{
    color : #8662C7; 
  }

  ul {
    list-style-type: none;  /*https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal */
    padding-top: 15px;  
    margin-left : 50px;
    margin-bottom:90px;
  }

  article
  {
    background-image: url("images/florence.jpg");
    background-repeat: no-repeat;
    background-size: 100% ;
    width: 100%;
    /* max-height: 100%; */

    overflow:hidden;
    /*pain in the ass revisit later */
    /* height: auto;
    width: auto;
    max-width : 100%; 
    max-height : 100%;
    overflow: hidden; */
    /* https://stackoverflow.com/questions/26101774/how-to-trim-off-image-in-css */
    padding-bottom: 120px;
    margin-bottom: 15px;
  }

  body {

    background-color : lightgray;
  }

.gallery
{
background-color: white;
padding : 5px;
display: inline-block;

}

.content
{


}

.heart
{

  /* need a heart and a comment */
}
